body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background:url(../images/background-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.navbar-default .navbar-header > p{
  font-size: 20px;
  color: #ddd;
  padding-top: 1px;
}
.container-fluid {
  background-color: black;
  height:55px;
  padding-right: 47px;
}
.navbar-default .navbar-nav > li > a{
  color:#ddd;
  font-size: 20px;
  padding-top:10px;
  text-shadow: 0 0px 0
}
.navbar-default {
  height: 55px;
}
.navbar-brand {
  padding: 2px 15px 2px 6px;
}
navbar-header {
  height:55px;
}
#este {
  margin-bottom: 0px;
}
#corales {
  margin-bottom: 30px;
}
.navbar-right{
  padding-top: 10px;
}
.img-full{
  min-width:100%;
  height:550px;
}
#box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: rgba(255,255,255,0.9);
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
}

#introduction {
  text-align: center;
}

.buttons-links{
  margin-left: 613px;
    padding: .5em 1em;
    border: none;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-family: museo-sans;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar-brand > img {
  width: 118px;
  height: 40px;
}
#about4{
  background-color: rgba(123, 74, 4, 0.88);

}
.cat {
  width: 400px;
  height: 300px;
  position: relative;
}
#footer {
  color: black;
  clear: both;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  height: 50px;
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.bg-primary {
    font-size: 18px;
}
#about{
  background-color: #00A4FF;
}
#about2 {
  background-color: white;
  color:black;
  font-size: 25px;
}
#about3 {
  background-color: black;
}
#about5{
  background-color:white;
  color:black;
}
#about6{
  background-color:rgb(202, 124, 31);
}
#about7{
  background-color:aquamarine;
}
section {
    padding: 100px 0;
}
.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}
.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}
.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.hero-feature {
    margin-bottom: 30px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}
